<mat-toolbar>Monitoramento de barragens</mat-toolbar>

<div class="componente-container">
    <div>
        <mat-form-field>
            <select matNativeControl [(ngModel)]="selectedDam">
                <option [ngValue]="1">Brumadinho</option>
                <option [ngValue]="2">Xingó</option>
                <option [ngValue]="3">Foz do Areia</option>
            </select>
        </mat-form-field>
  </div>

    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <canvas #deslocamento></canvas>
        </mat-grid-tile>
        <mat-grid-tile>
            <canvas #piezometro></canvas>
        </mat-grid-tile>
        <mat-grid-tile>
            <canvas #inclinometro></canvas>
        </mat-grid-tile>
        <mat-grid-tile>
            <canvas #agua></canvas>
        </mat-grid-tile>
    </mat-grid-list>
</div>