<mat-toolbar>Monitoramento de barragens</mat-toolbar>

<div class="container">
    <div class="row">
        <div class="col" style="align-self: center;">
            <mat-form-field>
                <select matNativeControl [(ngModel)]="selectedDam">
                    <option [ngValue]="1">Brumadinho</option>
                    <option [ngValue]="2">Xingó</option>
                    <option [ngValue]="3">Foz do Areia</option>
                </select>
            </mat-form-field>
        </div>
        <div class="col" style="align-self: center; text-align: end;">
            <button type="button" mat-raised-button color="primary" routerLink="/notifications/insert" >Enviar alerta 🚨</button>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            <canvas #deslocamento></canvas>
        </div>
        <div class="col">
            <canvas #piezometro></canvas
        ></div>
      </div>
      <div class="row">
        <div class="col">
            <canvas #inclinometro></canvas>
        </div>
        <div class="col">
            <canvas #agua></canvas>
        </div>
      </div>
</div>