<mat-toolbar>Cadastro de ativo</mat-toolbar>

<ng-template #carregando>
    <mat-spinner></mat-spinner>
 </ng-template>

<div class="componente-container">
    <form class="form-padrao" *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="formGroup.valid && save()" novalidate>      
        
        <div *ngIf="assets$ | async as assets; else carregando">
            <mat-form-field appearance="fill">
                <mat-label>Ativo</mat-label>
                <mat-select formControlName="assetId" required>
                  <mat-option *ngFor="let asset of assets" [value]="asset.id">
                    {{asset.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <mat-form-field>
            <select matNativeControl formControlName="type" required>
                <option [ngValue]="0">Preventivo</option>
                <option [ngValue]="1">Corretivo</option>
            </select>
            <mat-error>Campo obrigatorio</mat-error>
        </mat-form-field>

        <mat-form-field>
            <select matNativeControl formControlName="status" required>
                <option [ngValue]="0">Agendada</option>
                <option [ngValue]="1">Iniciada</option>
                <option [ngValue]="2">Concluída</option>
            </select>
            <mat-error>Campo obrigatorio</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="date" placeholder="Data" formControlName="date" min="{{minDate()}}"  required autocomplete="off">
            <mat-error>Campo obrigatorio</mat-error>
        </mat-form-field>

        <div class="linha-botoes">
            <button mat-raised-button color="primary" [disabled]="!formGroup.valid">Salvar</button>
            <button *ngIf="maintenance && maintenance.id != 0" type="button" mat-raised-button color="primary" (click)="delete()">Deletar</button>
            <button type="button" mat-raised-button color="primary" routerLink="/maintenances" >Cancelar</button>
        </div>
    </form>
</div>
