<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">SCA</h3>
                            <p class="text-muted mb-4">Sistema de Controle Ambiental</p>

                            <form class="form-padrao" *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="formGroup.valid && submitLogin()" novalidate> 
                               
                                <input style="text-align: center;" class="form-control rounded-pill border-0 shadow-sm px-4" placeholder="Usuario" formControlName="username" required autocomplete="off"> 

                                <br/>

                                <input style="text-align: center;" class="form-control rounded-pill border-0 shadow-sm px-4" type="password" placeholder="Senha" formControlName="password" required autocomplete="off">
                        
                                <br/>
                                    
                                <div style="text-align: center;">
                                    <button class="form-control rounded-pill border-0 shadow-sm px-4" mat-raised-button color="primary" [disabled]="!formGroup.valid">Entrar</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
