<div class="container">
    <div class="row">
      <div class="col">
        <br/>
        <h4>Artigos recentes</h4>
        <hr/>
      </div>
    </div>
        <div class="row">
            <div class="col">
                <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 20rem;">
                    <img class="card-img-top" src="https://catalogodemineracao.com.br/media/cache/small/custom/domain_1/image_files/sitemgr_photo_5723.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Caterpillar supera 3 bilhões de toneladas</h5>
                        <h6 class="card-text">Essa conquista é acompanhada pela expansão na variedade dos tipos de minérios movimentados de forma autônoma bem como a crescente oferta de caminhões de mineração Cat.</h6>
                        <a href="#" class="btn btn-purple">Saiba mais</a>
                    </div>
                </div>
            </div>
        <div class="col">
            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 20rem;">
                <img class="card-img-top" src="https://catalogodemineracao.com.br/media/cache/small/custom/domain_1/image_files/sitemgr_photo_5715.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Novo jumbo Sandvik DT923i para abertura</h5>
                    <h6 class="card-text">Com as novas perfuratrizes de alta frequência da série RD5 e as ferramentas de perfuração de rocha projetadas para alta taxa de penetração, ele oferece precisão e produtividade incomparáveis.</h6>
                    <a href="#" class="btn btn-purple">Saiba mais</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 20rem;">
                <img class="card-img-top" src="https://catalogodemineracao.com.br/media/cache/small/custom/domain_1/image_files/sitemgr_photo_5709.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Komatsu conta com mais um distribuidor Montabert</h5>
                    <h6 class="card-text">FW Máquinas - que atualmente já representa as linhas Komatsu - passará a atender na comercialização e suporte ao cliente para a linha de rompedores hidráulicos.</h6>
                    <a href="#" class="btn btn-purple">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</div>