<mat-toolbar>Cadastro de ativo</mat-toolbar>

<div class="componente-container">
    <form class="form-padrao" *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="formGroup.valid && save()" novalidate> 
        <mat-form-field>
            <input matInput placeholder="Nome" formControlName="name" required autocomplete="off"> 
            <mat-error>Campo obrigatorio</mat-error>
        </mat-form-field>

        <mat-form-field>
            <select matNativeControl formControlName="manufacturer" required>
                <option [ngValue]="0">Cat</option>
                <option [ngValue]="1">Vaisala</option>
                <option [ngValue]="2">Volkswagen</option>
                <option [ngValue]="3">Tratorparts</option>
                <option [ngValue]="4">Domaq</option>
            </select>
            <mat-error>Campo obrigatorio</mat-error>
        </mat-form-field>

        <mat-form-field>
            <select matNativeControl formControlName="category" required>
                <option [ngValue]="0">Maquina</option>
                <option [ngValue]="1">Ferramenta</option>
            </select>
            <mat-error>Campo obrigatorio</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="date" placeholder="Data" formControlName="manufactureDate" max="{{maxDate()}}"  required autocomplete="off">
            <mat-error>Campo obrigatorio</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Serial" formControlName="serial" required autocomplete="off">
            <mat-error>Campo obrigatorio</mat-error>
        </mat-form-field>

        <div class="linha-botoes">
            <button mat-raised-button color="primary" [disabled]="!formGroup.valid">Salvar</button>
            <button *ngIf="asset && asset.id != 0" type="button" mat-raised-button color="primary" (click)="delete()">Deletar</button>
            <button type="button" mat-raised-button color="primary" routerLink="/assets" >Cancelar</button>
        </div>

    </form>
</div>
